form {
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 40px;
  display: flex;
  flex-direction: column;

  textarea {
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    word-wrap: break-word;
    resize: none;
    width: 100%;
    min-height: 100px;
  }

  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: flex-end;
  }
}
